<!DOCTYPE html>
<html>
  <head>
    <title>Putout Editor</title>
    <meta charset="UTF-8">
    <meta name="description" content="An online Putout Editor.">
    <%= htmlWebpackPlugin.files.webpackManifest %>
  </head>
  <body>
    <div id="page">
      <div id="container"></div>
      <div id="contribution">
        Built with:
        <a href="https://babeljs.io/">Babel</a>,
        <a href="https://github.com/coderaiser/putout">Putout</a>
      </div>
    </div>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EDHBSBSK6D"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-EDHBSBSK6D');
    </script>
  </body>
</html>
