**/coverage
**/test-results
**/playwright-report
**/blob-report

*.swp
*.lock
*.log

.idea

packages/client/e2e/visual.ts-snapshots/

packages/client/e2e/snapshots/
packages/client/e2e/test-results/
/out
node_modules
production
/dist
coverage
