**/coverage
packages/client/e2e/snapshots/
packages/client/e2e/test-results/
packages/client/e2e/visual.ts-snapshots/

*.swp
*.lock
*.log

.idea

/out
node_modules
production
/dist
coverage
**/test-results
**/playwright-report
**/blob-report
